@*<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>*@

<div class="container">

    <div id="div-login-container">
        @*@Html.Partial("~/Views/Shared/Home/_Login.cshtml")*@
        @Html.Partial("Home/_Login")
    </div>


</div>
